@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*DEFINI AS CONFIGURAÇÕES DE ELEMENTOS DE TODAS AS PAGINAS*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: roboto;
}

/*CRIANDO VARIAVEIS*/
:root{
    --cor01: #FF0000;
    --cor02: #414141;
    --cor03: #5a5a5a;
    --cor04: #0000ff;
    --branca: #ffffff;
}

/*FORMATANDO O A TAG main PELO ID geral*/
#geral{
    margin: 0px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/*FORMATANDO CABEÇALHO*/
#cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 70px;
    padding: 10px 10px;

    background-color: var(--cor02);
    color: rgb(255, 0, 0);
}

/*CONFIGURANDO MENU NA HORIZONTAL*/
#menu ul,
#secoes-produtos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    width: 100%;

    list-style: none;
    color: rgb(255, 0, 0);
}

#menu ul img{
    width: 25px;
    height: 25px;
}

/*FORMATANDO A SECTION pesquisa*/
#pesquisa{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 70px;

    background-color: var(--cor03);
}

#pesquisa input{
    width: 630px;
    height: 35px;
    padding: 10px;

    background-color: var(--branca);
    border-radius: 8px;
    font-size: 1.4em;
}

#pesquisa input::placeholder{
    font-size: 1.3em;
    font-style: italic;
    color: var(--cor02);
}

/*FORMATANDO SEÇÕES*/
#secoes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;

    min-width: 100px;
    width: 100%;
    height: 100%;

    margin: 0px 0px;
    padding: 5px;

    background-color: var(--cor02);
}

/*FORMATANDO OS CARDS*/
#cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    gap: 20px;

    width: 1000px;
    min-height: 800px;
    margin: 20px 0px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 250px;
    min-height: 350px;
    padding: 5px;

    border: 1px solid var(--cor02);
}

.card img{
    width: 150px;
    height: 200px;
    margin: 10px 0px;
}

.card p{
    font-size: 1.2em;
    margin: 20px 0px;
}

.card h2{
    color: var(--cor02);
}

.card button{
    width: 200px;
    height: 35px;
    margin: 20px;

    border: none;
    border-radius: 5px;

    background-color: var(--cor03);
    color: var(--cor01);

    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    cursor: pointer;
}

.card:hover{
    transform: translateY(-5px);
}

/*FORMATANDO O RODAPÉ*/
#rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 70px;

    margin: 20px 0px;
    padding: 10px;

    background-color: rgb(228, 113, 31);
}

/*FORMATANDO Os LINKS*/
#menu .links:link,
#secoes .lnk-secoes:link{
    font-size: 1.4em;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-decoration: none;
    color: #FF0000;
}

#menu .links:visited,
#menu .links:active,
#secoes .lnk-secoes:visited,
#secoes .lnk-secoes:active{
    color: #ff3636;
}

#menu .links:hover,
#secoes .lnk-secoes:hover{
    font-size: 1.6em;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-decoration: none;
    color: #a10808;
}

footer h4{
    color: rgba(255, 255, 255, 0);
}

footer h4:hover{
    color: black;
}