@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/*DEFINI AS CONFIGURAÇÕES DE ELEMENTOS DE TODAS AS PAGINAS*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: roboto;
}

/*CRIANDO VARIAVEIS*/
:root{
    --cor01: #FF0000;
    --cor02: #414141;
    --cor03: #929292;
    --cor04: #0000ff;
    --branca: #ffffff;
}

/*FORMATANDO O A TAG main PELO ID geral*/
#geral{
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/*FORMATANDO CABEÇALHO*/
#cabecalho{

    color: rgb(255, 0, 0);
    background-color: var(--cor02);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    height: 70px;
    width: 100%;
}

/*CONFIGURANDO MENU NA HORIZONTAL*/
#menu ul{
    color: rgb(255, 0, 0);
    display: flex;
    gap: 20px;
    list-style: none;
}

#menu ul img{
    width:  25px;
    height: 25px;
    
}


/*FORMATANDO A SECTION pesquisa*/

#pesquisa{
    height: 100px;
    background-color: var(--cor03);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#pesquisa input{
    width: 650px;
    height: 50px;
    background-color: var(--branca);
    border-radius: 8px;
    padding: 10px;
    font-size: 1.4em;

}

#pesquisa input::placeholder{
    font-size: 1.3em;
    font-style: italic;
    color: var(--cor02);
}

/*FORMATANDO OS CARDS*/

#cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    gap: 20px;
    margin: 20px 0px;
    width: 1000px;
    min-height: 800px;

}

.card{
    width: 250px;
    min-height: 350px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--cor02);
}

.card img{
    width: 150px;
    height: 200px;
    margin: 10px 0px;
}

.card p{
    font-size: 1.2em;
    margin: 20px 0px;
}

.card h2{
    color:var(--cor02)
}

.card button{
    width: 200px;
    height: 35px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--cor03);
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--cor02);
    font-weight: bold;
    cursor: pointer;

}

.card:hover{
    transform: translateY(-5px);
}

/*FORMATANDO O RODAPÉ*/

#rodape{
    width: 100%;
    height: 70px;
    margin: 20px 0px;
    padding: 10px;
    background-color: rgb(228, 113, 31);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*FORMATANDO Os LINKS*/

#menu a:link{

    font-size: 1.4em;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-decoration: none;
    color: #FF0000;
}

a:visited, a:active{
    color: #ff3636;
}

a:hover{

    font-size: 1.6em;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-decoration: none;
    color: #a10808;
}

footer h4{
    color:  rgb(228, 113, 31);
}

footer h4:hover{
color: black;
}